<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foodilizer_Group35</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
</head>
<body>
    <header>
        <nav class="navbar nav-home nav-bar-home navbar-expand-sm navbar-toggleable-sm navbar-dark fixed-top border-bottom box-shadow bg-light ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="title-logo img-fluid d-inline" src="~/resources/images/logo.png" width="160" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ml-auto nav-btn-list">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Restaurants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Have a Business to register?</a>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="login-btn" data-toggle="modal" data-target="#loginModal">
                                Login
                            </button>
                        </li>
                        
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>


    <footer id="footer" class="footer">
        <div class="container">
            <h3>Foodilizer</h3>
            <img class="title-logo img-fluid d-inline pb-3" src="~/resources/images/logo.png" width="160" />
            <div class="">
                <div class="link-list"><a href="#">Contact Us</a></div>
                <div class="link-list"><a href="#">About Us</a></div>
                <div class="link-list"><a href="#">Terms of use</a></div>
                <div class="link-list"><a href="#">Privacy Policy</a></div>
            </div>
            <div class="social-links pt-3">
                <span class="">Follow Us on</span>
                <a href="#" class="twitter "><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook "><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram  "><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin "><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Foodilizer</span></strong>. All Rights Reserved<br />
                <span>Designed by UCSC Group 35</span>

            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column ">
                    <form>
                        <div class="form-group">
                            <h6 class="form-check-txt">Email</h6>
                            <input type="email" class="form-control" id="email1" placeholder="something@something.com">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Password</h6>
                            <input type="password" class="form-control" id="password1" placeholder="Password ...">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="login-btn">Login</button>
                        </div>
                        
                        
                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">
                    Not a member yet?
                    <button type="button" class="login-btn " id="login-modal-btn" data-toggle="modal" data-target="#regModal"data-dismiss="#loginModal">
                        SignUp
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>SignUp</h4>
                </div>
                <div class="d-flex flex-column ">
                    <form>
                        <div class="form-group">
                            <h6 class="form-check-txt">First Name</h6>
                            <input type="text" class="form-control" id="fNmae" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Last Name</h6>
                            <input type="text" class="form-control" id="lNmae" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Email</h6>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Location (Eg:colombo)</h6>
                            <input type="text" class="form-control" id="location" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Mobile Number</h6>
                            <input type="text" class="form-control" id="mobile" placeholder="Mobile Number">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Password</h6>
                            <input type="password" class="form-control" id="password1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <h6 class="form-check-txt">Confirm Password</h6>
                            <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="login-btn">SignUp</button>
                        </div>


                    </form>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="login-section">
                    Alredy a member?
                    <button type="button" class="login-btn " id="reg-modal-btn" data-toggle="modal" data-target="#loginModal " data-dismiss="#regModal">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



</body>





</html >


