@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/store_front/silver_cart.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

@section scripts
{
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="~/js/store_front/silver_cart.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
}

<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
        Shopping Cart
    </div>

    <!-- Product #1 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn">
                <i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color:black;" ></i>
            </span> 
     
        </div>

        <div class="image">
            <img src="~/lib/images/store_front_images/fc1.jfif" alt="" />
        </div>

        <div class="description">
            <span>Crispy Chicken Burger</span>
            
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="total-price">400 LKR</div>
    </div>

    <!-- Product #2 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn">
                <i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color:black;"></i>
            </span>
            
        </div>

        <div class="image">
            <img src="~/lib/images/store_front_images/fc2.jfif" alt="" />
        </div>

        <div class="description">
            <span>Chocolate Milk Shake</span>
            
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="total-price">400 LKR</div>
    </div>

    <!-- Product #3 -->
    <div class="item">
        <div class="buttons">
            <span class="delete-btn">
                <i class="fa fa-times-circle fa-2x" aria-hidden="true" style="color:black;"></i>
            </span>
         
        </div>

        <div class="image">
            <img src="~/lib/images/store_front_images/fc3.jfif" alt="" />
        </div>

        <div class="description">
            <span>Chicken Pizza</span>
            
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button" name="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button" name="button">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
        </div>

        <div class="total-price">400 LKR</div>
        
    </div>
    <div class="total">
        <h4 class="totali">Total Items : </h4><h4 class="totnum">3</h4>
        <h4 class="totalam">Total Amount : </h4><h4 class="totamnum">1200 LKR</h4>
    </div>
    <div class="cartbuttons">
        <button class="shbutton">Back to Shopping</button>
        <button class="prbutton">Confirm & Proceed</button>
    </div>
</div>
