@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Menu</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Store Admin/Menu</li>
        </ol>
        <h4>Edit / Update Menu</h4>

    </div>
</main>

