@model Foodilizer_Group35.Models.Restaurant

@{
    Layout = "~/Views/Shared/_store_admin_layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Profile</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Store Admin/Profile</li>
        </ol>
        <center><h4>Edit / Update Store Details</h4></center>
</div>
    <div class="container ">
        <form class="register" asp-action="UpdateRestaurant" asp-controller="StoreAdmin" asp-route-id="@TempData["ID"]" id="form1">

            <div class="form-row row pb-3">
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputownFirstname">Owner Name</label>
                    <input asp-for="OwnerName" class="form-control" id="inputownFirstName" placeholder="Owner Firstname and Last name" required>
                    <span asp-validation-for="OwnerName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputownmobile">Mobile No</label>
                    <input asp-for="OwnerContact" class="form-control" id="inputownmobile" placeholder="Mobile No" required>
                    <span asp-validation-for="OwnerContact" class="text-danger"></span>
                </div>
                @*<div class="form-group col-md-5 pb-2">
                    <label for="inputownemail">Email</label>
                    <input asp-for="OwnerEmail" type="email" class="form-control" id="inputownEmail" placeholder="Email" required>
                    <span asp-validation-for="OwnerEmail" class="text-danger"></span>
                </div>*@
            </div>
            <center> <h4>Restaurant Details </h4></center>

            @*<p style="color:red">@ViewBag.Error</p>
            <p style="color:red">@TempData["Error"]</p>*@
            <div class="form-row row pb-3">
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestName">Restaurant Name</label>
                    <input asp-for="Rname" class="form-control" id="inputRestname" placeholder="Restaurant Name" required>
                    <span asp-validation-for="Rname" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestDesc">Restaurant Description</label>
                    <textarea asp-for="Rabout" class="form-control" id="inputRestDesc" rows="4" placeholder="Restaurant Description limit to 50 characters" required> </textarea>
                    <span asp-validation-for="Rabout" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row row pb-3">
                @*<div class="form-group col-md-6">
                    <label for="inputRestEmail">Restaurant Email</label>
                    <input asp-for="Remail" type="email" class="form-control" id="inputRestEmail" placeholder="Email" required>
                    <span asp-validation-for="Remail" class="text-danger"></span>
                </div>*@
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestPhone">Restaurant Phone No</label>
                    <input asp-for="RestContact" class="form-control" id="inputrestcontact" placeholder="Phone Number" required>
                    <span asp-validation-for="RestContact" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestweb">Restaurant Website URL</label>
                    <input asp-for="WebsiteLink" type="url" class="form-control" id="inputRestWeb" placeholder="Website URL" required>
                    <span asp-validation-for="WebsiteLink" class="text-danger"></span>
                </div>
            </div>
            <center> <h4>Restaurant Location Details  </h4></center>

            <div class="row pb-3">
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestAddr">Restaurant Address</label>
                    <input asp-for="Raddress" class="form-control" id="inputRestAddr" placeholder="Address" required>
                    <span asp-validation-for="Raddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestDesc">Price Range</label><br />
                    <select asp-for="PriceRange" class="custom-select my-1 mr-sm-2" id="inputRestPrice">
                        <option value="1">Low</option>
                        <option value="2">Medium</option>
                        <option value="3">High</option>
                    </select>
                </div>
            </div>
            <div class="row pb-3">
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestDist">Restaurant District </label>
                    <input asp-for="Rdistrict" class="form-control" id="inputRestDist" placeholder="District" required>
                    <span asp-validation-for="Rdistrict" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputRestFeat">Restaurant Features(use ,)</label>
                    <input asp-for="Feature" class="form-control" id="inputRestFeat" rows="3" placeholder="Dine in,outdoor seating,Food Truck etc" required>
                    <span asp-validation-for="Feature" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label class="pb-2" for="inputRestMap">Restaurant Google map URL</label>
                    <input asp-for="MapLink" type="url" class="form-control" id="inputRestMap" placeholder="Google map URL" required>
                    <span asp-validation-for="MapLink" class="text-danger"></span>
                </div>
            </div>

            <div class="row pb-3">
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputtDietRest">Food Options Available</label>
                    <input asp-for="SpecialDiet" class="form-control" id="inputDietRest" placeholder="Eg: Vegan, Vegetarian, Some vegan options" required>
                    <span asp-validation-for="SpecialDiet" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputOpenFrom">Open Hours</label>
                    <input asp-for="OpenHour" class="form-control" id="inputOpenFrom" placeholder="Eg: 9AM-10PM" required>
                    <span asp-validation-for="OpenHour" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <!--<div class="form-group col-md-7">
                <label for="inputCrePassword">Create Password</label>
                <input asp-for="Rpassword" type="password" class="form-control" id="password" placeholder="Password" required onkeyup="validatePass()">-->
                @*<input id="password" asp-for="Password" class="form-control rounded-left" placeholder="Password" type="password" required onkeyup="validatePass()" />*@
                <!--</div>-->
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputMeals">Meals</label>
                    <input asp-for="MealType" type="text" class="form-control" id="inputMeals" placeholder="breakfast, lunch & Dinner" required>
                    <span asp-validation-for="MealType" class="text-danger"></span>
                </div>
                <!--<div class="form-group col-md-7">
                <label for="inputCnfPassword">Confirm Password</label>
                <input type="password" class="form-control" id="password2" placeholder="Confirm Password" required onkeyup="validatePass()">-->
                @*<input id="password2" class="form-control rounded-left" placeholder="Confirm Password" type="password" required onkeyup="validatePass()" />*@
                <!--</div>-->
                <div class="form-group col-md-6">
                    <label class="pb-2" for="inputCuisine">Cuisines</label>
                    <input asp-for="Cuisine" type="text" class="form-control" id="inputCuisines" placeholder="Chinese,North Indian,South Indian etc" required>
                    <span asp-validation-for="Cuisine" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row row p-2">
                <div class=" form-group col-2">
                    <a class="btn btn-secondary w-75" asp-area="" asp-controller="StoreAdmin" asp-action="Index">Back</a>
                    
                </div>
                <div class="form-group col-2">
                    
                    <button asp-action="UpdateRestaurant" asp-route-id="@TempData["ID"]" type="submit" class="btn btn-primary w-75"> Update</button>
                </div>
            </div>
        </form>
    </div>
</main>
@*<script type="text/javascript">
    var confirmPass = false;
    /*alert("v");*/
    function validatePass() {
        if (document.getElementById("password").value == document.getElementById("password2").value) {
            document.getElementById("password").style.backgroundColor = "";
            document.getElementById("password2").style.backgroundColor = "";
            confirmPass = true;
            /* alert("validation passes");*/
        } else {
            document.getElementById("password").style.backgroundColor = "LightPink";
            document.getElementById("password2").style.backgroundColor = "LightPink";
            /*alert("validation failed false");*/
            confirmPass = false;
        }
        /*alert(confirmPass);*/
    }

    /* form.addEventListener('submit', formSubmit);*/
    function formSubmit() {
        validatePass();
        if (confirmPass == true) {
            document.getElementById("form1").submit();
            /*alert("hi");*/
        }
        else {
            alert("Invalid Details Entered, Please Check and try again.");
        }
    }
</script>*@

