@model Foodilizer_Group35.Models.Customer
@{
    ViewData["Title"] = "Owner Register Page";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <title>Foodies</title>
    <!-- bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <title>Bootstrap Simple Registration Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="~/js/owner_home.js"></script>
    <!-- OWN CSS -->
    <link rel="stylesheet" href="~/css/owner_home.css">

</head>

<body>

    <form class="register" asp-action="customer_profile_edit" asp-route-id="@TempData["Id"]" id="form1" enctype="multipart/form-data" runat="server">
        <div class="form-group col-md-8">
            <label for="inputownFirstname">Name</label>
            <input asp-for="Name" class="form-control" id="inputName" placeholder="Name" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group col-md-8">
            <label for="fileupload">Profile Image</label>
            <input type="file" class="form-control" id="fileupload" name="postedFile" accept=".bmp, .jpg, .png, .gif, .jpeg, .BMP, .JPG, .PNG, .GIF, .JPEG">
        </div>
        <div class="form-group col-md-8">
            <label for="inputAddress">Address</label>
            <input asp-for="Address" class="form-control" id="inputAddress" placeholder="Address">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <label for="inputProvince">District</label>
            <select asp-for="Province" class="custom-select my-1 mr-sm-2" style="margin-left:10px" id="inputProvince">
                <option>Central</option>
                <option>Eastern</option>
                <option>Northern</option>
                <option>Southern</option>
                <option>Western</option>
                <option>North Western</option>
                <option>North Central</option>
                <option>Uva</option>
                <option>Sabaragamuwa</option>
            </select>
        </div>
        <div class="form-group col-md-8">
            <label for="inputDistrict">District</label>
            <select asp-for="District" class="custom-select my-1 mr-sm-2" style="margin-left:10px" id="inputDistrict">
                <option>Kalutara</option>
                <option>Colombo</option>
                <option>Gampaha</option>
                <option>Anuradhapura</option>
                <option>Polonnaruwa</option>
                <option>Matale</option>
                <option>Kandy</option>
                <option>Nuwara Eliya</option>
                <option>Kegalle</option>
                <option>Ratnapura</option>
                <option>Trincomalee</option>
                <option>Batticaloa</option>
                <option>Ampara</option>
                <option>Badulla</option>
                <option>Monaragala</option>
                <option>Hambantota</option>
                <option>Matara</option>
                <option>Galle</option>
                <option>Jaffna</option>
                <option>Kilinochchi</option>
                <option>Mannar</option>
                <option>Mullaitivu</option>
                <option>Vavuniya</option>
                <option>Puttalam</option>
                <option>Kurunegala</option>
            </select>
        </div>
        <p style="color:red">@ViewBag.Error</p>
        <p style="color:red">@TempData["Error"]</p>
        <div class="form-group col-md-8">
            <label for="inputRestDesc">Dietary restrictions</label>
            <textarea asp-for="DietryRestriction" class="form-control" id="inputDR" rows="3" placeholder="Dietary restrictions"> </textarea>
            <span asp-validation-for="DietryRestriction" class="text-danger"></span>
        </div>
        <button class="main-btn ms-lg-4 mt-lg-0 mt-4" type="reset" style="align-items:flex-end">
            <a asp-area="" asp-controller="Customer_profile" asp-action="customer_profile_reviews" asp-route-id="@TempData["Id"]">
                <i class="fas fa-angle-left"> </i>  Back
            </a>
        </button>
        <input type="submit" class="main-btn">
        <br /><br />


    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    /* form.addEventListener('submit', formSubmit);*/
    function formSubmit() {
        if (true) {
            document.getElementById("form1").submit();
            alert("hi");
        }
        else {
            alert("Invalid Details Entered, Please Check and try again.");
        }
    }
</script>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/main.js"></script>