@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <title>Foodies</title>
    <!-- OWN CSS -->
    <link rel="stylesheet" href="~/css/customer_profile.css">
    <link rel="stylesheet" href="~/css/custom-bootstrap.css">
    <script src="https://kit.fontawesome.com/abb6d122c4.js" crossorigin="anonymous"></script>
</head>
<body>




    <!-- section-1 top-banner -->
    <section id="home">
        <div class="container-fluid">
            <br /><br /><br />
            <div class="row">
                <div class="col-sm-24 main_container">
                    <br>
                    <div class="row">
                        <div class="col-sm-1">
                        </div>
                        <div class="col-sm-22">
                            <div class="row">
                                <div class="col-sm-24">
                                    <div class="card secondary_container">
                                        <br />
                                        <div class="row">
                                            <div class="col-sm-1">

                                            </div>
                                            <div class="col-sm-4">
                                                <img src="https://i.pinimg.com/474x/dc/e6/c0/dce6c0923a316554572841bb6f857c31.jpg" class="profile_picture" />
                                            </div>
                                            <div class="col-sm-1">
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-sm-24">
                                                        <div class="profile_font">Chris Robinson</div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <br />
                                                        Reviews <br> 0
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <br />
                                                        Reviews <br> 0
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">

                                            </div>

                                        </div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card secondary_container">
                                        <p class="mx-auto pt-2">Information</p>
                                        <p class="float-left pl-4"><i class="fas fa-compass"></i>&ensp;&ensp;Location</p>
                                        <p class="float-left pl-4"><i class="fas fa-at"></i>&ensp;&ensp;Email here</p>
                                        <p class="float-left pl-4"><i class="fa fa-trello"></i>&ensp;&ensp;Joined on<br />&ensp;&ensp;&ensp;2021/07/17 </p>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                </div>
                                <div class="col-sm-17">
                                    <div class="card secondary_container">
                                        <p class="mx-auto pt-2">Your Reviews</p>
                                    </div>
                                    <div class="card">
                                        <h5 class="card-title pl-4">Nature with hospitality</h5>
                                        <p class="card-text pl-4">
                                            a formal assessment of something with the intention of instituting change if necessary.
                                            "a comprehensive review of UK defence policy"
                                        </p>
                                    </div>
                                    <div class="card">
                                        <h5 class="card-title pl-4">Nature with hospitality</h5>
                                        <p class="card-text pl-4">
                                            a formal assessment of something with the intention of instituting change if necessary.
                                            "a comprehensive review of UK defence policy"
                                        </p>
                                    </div>
                                    <div class="card">
                                        <h5 class="card-title pl-4">Nature with hospitality</h5>
                                        <p class="card-text pl-4">
                                            a formal assessment of something with the intention of instituting change if necessary.
                                            "a comprehensive review of UK defence policy"
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- section-2 about-->
    <!--   <section id="about">
           <div class="about-section wrapper">
               <div class="container">
                   <div class="row align-items-center">
                       <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                           <div class="card border-0">
                               <img src="~/lib/owner_img/omenu.png" class="img-fluid">
                           </div>
                       </div>
                       <div class="col-lg-5 col-md-12 text-sec">
                           <h2>Standard Food menu & Featured food items.</h2>
                           <p>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                               amet leo. Mauris feugiat erat tellus.
                           </p>

                       </div>
                   </div>
               </div>
               <div class="container food-type">
                   <div class="row align-items-center">
                       <div class="col-lg-5 col-md-12 text-sec mb-lg-0 mb-5">
                           <h2>Online ordering & rating </h2>
                           <p>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                               amet leo. Mauris feugiat erat tellus.Far far away, behind the word mountains, far from the countries
                               Vokalia and Consonantia, there live the blind texts.
                           </p>


                       </div>
                       <div class="col-lg-7 col-md-12">
                           <div class="card border-0">
                               <img src="~/lib/owner_img/oorder.png" class="img-fluid">
                           </div>
                       </div>
                   </div>
               </div>
               <div class="container">
                   <div class="row align-items-center">
                       <div class="col-lg-7 col-md-12 mb-lg-0 mb-5">
                           <div class="card border-0">
                               <img src="~/lib/owner_img/oinven.png" class="img-fluid">
                           </div>
                       </div>
                       <div class="col-lg-5 col-md-12 text-sec">
                           <h2>Inventory and recommodation </h2>
                           <p>
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum in sit
                               amet leo. Mauris feugiat erat tellus.
                           </p>

                       </div>
                   </div>
               </div>



           </div>
       </section> -->
</body>

</html>