@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>
<section class="hero-section">
    <div class="container">
        <div class="hero-image">
            <div class="hero search-bar">
                <div class="container search">
                    <div class="col-12">
                        <div class="search">
                            <form>
                                <input class="input" type="text" name="s" placeholder="How may we help you?">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-text">
                <h1 style="font-size:50px">I am Jane Doe</h1>
                <h3>And I'm a Photographer</h3>
            </div>

        </div>
    </div>
</section>
<section id="top-res" class="top-res sec-swiper">
    <div class="container">
        <div class="section-title">
            <h2>Top rated Restaurants</h2>
            <p>Select best resestaurants</p>
        </div>
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br /><br />
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>
<section id="like-these" class="like-these sec-swiper">
    <div class="container">
        <div class="section-title">
            <h2>You Might Like these</h2>
            <p>Select best Food</p>
        </div>
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br /><br />
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

<section id="near-you" class="near-you sec-swiper">
    <div class="container">
        <div class="section-title">
            <h2>Cool places near you</h2>
            <p>Check out these places</p>
        </div>
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper-block">
                        <img src="~/resources/images/top-res-1.jpg" class="swiper-image img-fluid w-75" alt="res-image">
                        <div class="swiper-card-data">
                            <h4 class="card-name">Hoppa Galle Fort</h4>
                            <span class="card-info">Resturant</span>
                            <div class="rating-card">
                                <span><b> 5.0</b> </span> <span class="rate-circles"> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> <i class="fa fa-circle"></i> </span>
                                <div> <span>&nbsp;49 reviews</span> </div>
                            </div>
                        </div>
                    </div>
                </div>


                <br /><br />
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>






<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 10,
        freeMode: true,
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        }, navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>