@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_home_Layout.cshtml";
}
<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

     
</style>

<div class="container">
    <div class="hero-image">
        <div class="hero search-bar">
            <div class="container search">
                <div class="col-12">
                    <div class="search">
                        <form>
                            <input class="input" type="text" name="s" placeholder="How may we help you?">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-text">
            <h1 style="font-size:50px">I am Jane Doe</h1>
            <h3>And I'm a Photographer</h3>
        </div>

    </div>
</div>
