

/*Profile*/
.register {
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.register .form-control {
    margin-left: 2px;
}
/*Recomendations*/
.recomm-box {
    background-color: #3AAFA9;
}
.card-body-recomm {
    padding: 0.1rem 0.1rem;
}
.card-img-top-recomm {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    border-radius: 10px;
}
.card-title-recomm {
    padding-left: 0.3rem;
}

.card-oth-usr {
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: #fff
}
.img-oth-usr{
    padding-left:0.2rem;
}

/*Inventory*/




