body {
    background-color: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
}
.br_home .carousel-inner {
    width: 730px;
    height: 290px;
    top: 30px;
    
    
}


.br_home {
    margin-top: 30px;
    border-color: blue;
    
}
.br_home .col-4{
    padding-left: 30px;
    padding-right:0px;



 
}


    .br_home .card {
        margin-top: 50px;
        border-style: solid;
        border-width: 0.1ex 0.1ex 0.1ex;
        border-color: #c7c7c7;
    }
    .br_home .bcard {
        margin-top: 110px;
        border-style: solid;
        border-width: 0.1ex 0.1ex 0.1ex;
        border-color: #c7c7c7;
    }
    .br_home .lcard {
        margin-top: 20px;
        border-style: solid;
        border-width: 0.1ex 0.1ex 0.1ex;
        border-color:#c7c7c7;
    }
    .br_home .rank {
        margin-top: 20px;
        margin-bottom: 20px;
        font-family: 'PT Sans', sans-serif;
    }
.br_home .card-body, .card-header {
    margin-left: 10px;

    margin-right: 10px;
}

    .br_home .rating-topic {
        margin-top: 10px;
        margin-left: 0px;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }
    .br_home .rating-topic-det {
        margin-bottom: -10px;
        margin-top: 10px;
        margin-left: 0px;
        font-family: 'PT Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }
    .br_home .circles ul {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        margin-left: -40px;
    }
.br_home .circles .glyphicon {
    margin-left:3px;
    font-size: 20px;
    color: #0cb021;
    margin-top: 10px;
    letter-spacing: -4px;
}
.glyphicon {
    margin-left:3px;
    font-size: 20px;
    color: #0cb021;
    margin-top: 10px;
    letter-spacing: -4px;
}

.br_home .circles  {
    font-size: 18px;
    
}
.br_home .ratecircles {

    letter-spacing: 1px;
    float: right;
    margin-top: 7px;
}

.br_home ul{
  line-height:30px;
  margin-left:0px;
}


.br_home .card-header {
    background-color: white;
    font-family: 'PT Sans', sans-serif;
}
.br_home .carousel-control-next-icon, .carousel-control-prev-icon {
    margin-top: 50px;
}
.br_home .row {
    margin-bottom: 30px;
}
.menu .col-8{
    margin-top: 50px;
}

.br_home .rest_name {
    position: absolute;
    left: 0px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    color: #000000;
}
.br_home .best_selection {
    position: absolute;
    left: 0px;
    margin-top: 80px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #000000;
}
.br_home .col-4 {
    margin-top: 65px;
    margin-bottom:-100px;
}
.menu .col-4 {
    margin-top: 170px;
}
  .br_home .rest_details {
        width: 950px;
        height: 34px;
        left: 0px;
        margin-top: 55px;
    }

    .br_home .map-container {
        overflow: hidden;
        padding-bottom: 0;
        position: relative;
        height: 0px;
    }

        .br_home .map-container iframe {
            left: 0;
            top: 10px;
            height: 200px;
            width: 100%;
            position: absolute;
        }

    .br_home .list_topic{
        font-size:15px;
        font-weight:600;
        line-height:50px;
    }
    .br_home .list_det {
        margin-left: 23px;
        font-size: 13px;
        margin-top:-2px;
        line-height:20px;
    }
.best_selection{
    font-weight:800;

}
.best_selection .cards-wrapper {

    display: flex;
    justify-content: center;

    
}

.best_selection .card img {
 
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
}

    .best_selection .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
        height: 220px;
        width: 300px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
    }

.best_selection .carousel slide{
    margin-top:0px;
}
.best_selection .card-body {
    height: 250px;
    width: 100%;
}
.best_selection  .card-title{
    font-size:18px;
    margin-top:10px;
    font-weight:600;
    margin-left:0px;
    text-align:center;
}
.best_selection .carousel-inner {
    padding: 0em;
    height: 300px;
   
}

.best_selection .carousel-control-prev,
.best_selection .carousel-control-next {
    background-color: #000000;
    width: 5vh;
    align-content:center;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.best_selection .carousel-control-next-icon, .best_selection .carousel-control-prev-icon {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .best_selection .card img {
        height: 11em;
    }
}





.menudata{
    margin-bottom:0px;
}

.tab {
    font-family: 'PT Sans', sans-serif;
    padding: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
}

    .tab .nav-tabs {
       align-items:center;
     
        border-bottom-color:black;
    }

        .tab .nav-tabs li {
            width: 16.33%;
        }

            .tab .nav-tabs li a {
                color: black;
                font-family: 'PT Sans', sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                padding: 8px 5px 10px;
                margin: 0 12px 3px 0;
                border: none;
                border-radius: 0;
                position: relative;
                z-index: 1;
                transition: all 0.3s ease 0s;
            }

                .tab .nav-tabs li.active a,
                .tab .nav-tabs li a:hover,
                .tab .nav-tabs li.active a:hover {
                    color:blue;
                    background: linear-gradient(#fcfcfc, #f5f5f5, #fcfcfc);
                    border-top:none;
                    border-left:none;
                    border-right:none;
                    width:100%;
                    border-bottom-color:blue;
                    border-bottom-width:3px;
                    margin-bottom:0px;
                }

               

                .tab .nav-tabs li.active a:before,
                .tab .nav-tabs li a:hover:before {
                    opacity: 1;
                    transform: translateY(39.5px) scale(0.3);
                }

    .tab .tab-content {
        color: #555;
        background-color: #F2F2F2;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 25px;
        height: 500px;
        width: 700px;
        padding: 20px;
        margin-bottom: 0px;
        margin-left: 0px;
        position: relative;
    }
   
@media only screen and (max-width: 479px) {
    .tab .nav-tabs li {
        width: 100%;
        text-align: center;
    }

        .tab .nav-tabs li a {
            margin: 0 0 15px;
        }
}


.mcard {
    background-color: black;
    color: white;
    
}
.tab-content .carousel-inner {
    width: 600px;
    height: 490px;

}
.tab-content .carousel-control-next-icon, .tab-content .carousel-control-prev-icon {
    margin-top: 390px;
    margin-left: 0px;


}

.tab-content .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    
    
}

.tab-content .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");

}

.carousel-control {
    width: 22%;

}


h1 {
    font-family: 'PT Sans', sans-serif;
}

.menu-image {
    height: 100%;
    width: 20%;
    margin-top: -6px;
    margin-bottom: -6px;
    flex:1;
}
    .menu-image img {
        height: 100px;
        width: 100px;
        margin-right: 10px;
        border-radius: 100px;
       
    }
.menu-det {

    margin-bottom: -6px;
}
.tab-pane{
    height:480px;
    overflow-y:auto;

}
    .tab-pane::-webkit-scrollbar {
        width: 0.5em;
    }

    .tab-pane::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    .tab-pane::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
.tab-pane .card-body {
    display: flex;
    flex:initial;
    margin-left: -8px;
    margin-right: 10px;
    margin-bottom: -3px;
}

.menu-det .card-title {
    display: flex;
}
.menu-det{
   
    flex: 4;
}
    .menu-det h3 {
        font-size: 19px;
        margin-top: 0px;
        color: #13dad2;
        flex: 3;
    }
    .menu-det h4 {
        flex: 2;
        margin-top: 2px;
        font-size: 17px;
    }
.menu-det .mcard-text {
    font-size: 14px;
    line-height: 18px;
    margin-left: 0px;
    min-width: 10px;
}
.menu-det p .mcard-text {
    
}
.rev {
    margin-left:0px;
    margin-top: 0px;
    justify-content:flex-start
    
}
.rev .carousel{
    margin-top: 0px;
    margin-left: 0px;

}
    .rev .carousel-inner {
        background-color: #F2F2F2;
    }
.rcard {
   
    border-right: ridge;
    border-left: ridge;
    border-top: ridge;
    border-bottom: ridge;
    padding-bottom: 10px;
    padding-top:10px;
    width: 500px;
    color: black;
    display:flex;
    text-align:left;
    height:308px;
    justify-content:right;
    overflow-y:auto;
   
}
.rcard-text{
    font-size:medium;
    min-height:100px;
}
.rcard::-webkit-scrollbar {
    width: 0.3em;
}

    .rcard::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .rcard::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
.revnum{
    margin-left:50px;
    margin-top:-3px;
}
.rev .carousel-inner {
    padding:0em;
    width: 1020px;
    height: 350px;
}

.rev .card-body{

    display:flex;
}
.rev .card-title .circles{
    margin-top:0px;
    font-weight:100;
    font-size:12px;
    margin-bottom:0px;
}



.rev h2{
    margin-left:50px;
}

.rev .menu-image{
    margin-right:20px;
    
}

.rev .card-title {
    font-size: 20px;
    margin-top: 0px;
    font-weight: 600;
    margin-left: 0px;
    text-align: center;
}
.rev h5 {
    font-weight:700;
}

.rev-name{
    margin-left:10px;
    margin-top:10px;
}
.rev-topic {
    display: flex;
    width:800px;
    margin-left:150px;
}


.revb {
    margin-top:12px;
    background-color: black;
    color: white;
    margin-left: 500px;
    height: 60px;
    width: 150px;
    padding: 10px;
    font-weight: bold;
    
}

.rev-img{
    display:flex;
}

.rev-img img{
    width:100px;
    height:70px;
    margin-bottom:10px;
    margin-right:10px;
    margin-left:0px;
}

.help-btn{
    border-color:white;
    width:40px;
}
.like{
    margin-top: 80px;
    margin-left:500px;
}
.likerow .row{
    margin-bottom:150px;
}
.likerow .circles {
    font-size:15px;
}
.likerow .circles .glyphicon{
    font-size: 18px;
}
.likerow .cusineitem {
    line-height: 20px;
}
.grid {
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    align-items: stretch;
    margin-bottom:50px;
    padding-bottom:10px;
}
.grid img{
    height:150px;
    width:100%;
}
    .grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
    }

        .grid > article img {
            max-width: 100%;
        }

.text {
    padding: 0 20px 20px;
    margin-top:5px;
    line-height:5px;
}

    .text > button {
        background: gray;
        border: 0;
        color: white;
        padding: 10px;
        width: 100%;
    }

.swiper-slide {
    text-align: center;
    max-width: 500px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #F2F2F2;

}
    .swiper-slide .card-name {
        font-size: 17px;
        font-weight: 700;
    }
.swiper-image {
    border-radius: 0px;
    min-width: 190px;
    width: 400px;
    min-height: 150px;
    max-height: 150px;
}
.swiper-block {
    margin: 2em 1em;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);

    border: none;
    border-radius: 0;
    height: 210px;
    width: 300px;
    margin-left: 40px;
    margin-right: 20px;
}


.swiper-pagination-bullet-active {
    opacity: 1;
    background: black;
}
.swiper-card-data {
    margin-top: 20px;
    font-weight: 600;
    margin-left: 0px;
    text-align: center;
}
.rate-circles {
    color: #3AAFA9;
}

.fa-circle {
    padding-right: 1px;
}


.flipcard {
    height: 210px;
    width: 190px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}
    .flipcard img {
        border-radius: 0px;
        min-width: 183px;
        max-width: 183px;
        margin-left: -10px;
        min-height: 150px;
        max-height: 150px;
    }
    .flipcard:hover {
        transform: rotateY(180deg);
    }

    .flipcard .side {
        backface-visibility: hidden;
        border-radius: 6px;
        position: absolute;
        overflow: hidden;
        height: 210px;
        width: 190px;
    }

    .flipcard .back {
        background: url("https://i.pinimg.com/736x/7c/b1/86/7cb18679659f791b1191bea97b74dfc0.jpg");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFFFFF;
        line-height: 150px;
        text-align: left;
        transform: rotateY(180deg);
    }
        .flipcard .back .ing,.prc,.ingitem{
            max-width:100px;
            
            margin-left:10px;
        }
        .flipcard .back h4 {
            
            margin-left: 10px;
        }
        .flipcard .back .prcitem {
            margin-left: 40px;
            margin-top:-10px;
        }
        .ing {
            margin-top: 50px;
        }
.prc {
    margin-top: 30px;
}

.menu-det .circles .glyphicon {
    margin-left: 3px;
    font-size: 18px;
    color: #0cb021;
    margin-top: 0px;
    letter-spacing: -4px;
}

.menu-det .revdate {
    font-size: 13px;
    margin-left:20px;
    margin-top:2px;
}


#cover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

#loginScreen {
    height: 580px;
    width: 540px;
    margin: 50px -650px;
    position: relative;
    z-index: 10;
    display: none;
    border: solid 1px #f1f1f1;
    background: #fbfbfb;

    border-radius: 0.25rem;
}

    #loginScreen:target, #loginScreen:target + #cover {
        display: block;
        opacity: 2;
    }


.cancel {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background:#000000;
    color: white;
    height: 30px;
    width: 35px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

#ecover {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}

#eloginScreen {
    height: 400px;
    width: 540px;
    margin: 100px -650px;
    margin-bottom:10px;
    position: relative;
    z-index: 10;

    display: none;

    border-radius: 0.25rem;
}

    #eloginScreen:target, #eloginScreen:target + #ecover {
        display: block;
        opacity: 3;
    }


.ecancel {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: red;
    color: white;
    height: 30px;
    width: 35px;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}













#contact-form {
    
    padding: 0px 20px 10px 50px;
    width: 530px;
    float: left;
    left: 0px;
    position: absolute;
    margin-top: 30px;
   
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
}

    #contact-form h1 {
        padding: 2px 1px;
        color: black;
        text-align: center;
        font-size: 31px;
    }

    #contact-form h4 {
        padding: 2px 0px;
        color: #4d0er;
        text-align: center;
        font-weight: normal;
        font-size: 15px;
    }

    #contact-form input,
    #contact-form select,
    #contact-form textarea,
    #contact-form label {
        font-size: 15px;
        margin-bottom: 2px;
        font-family: 'PT Sans', sans-serif;
    }

    #contact-form input,
    #contact-form select,
    #contact-form textarea {
        width: 100%;
        background: #fff;
        border: 0;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        margin-bottom: 25px;
        padding: 5px;
    }

        #contact-form input:focus,
        #contact-form select:focus,
        #contact-form textarea:focus {
            background-color: #E5E6E7;
        }

    #contact-form textarea {
        width: 100%;
        height: 150px;
    }

    #contact-form button[type="submit"] {
        cursor: pointer;
        width: 100%;
        border: none;
        background-color: #0275d8;
        
        color: #FFF;
        margin: 0 0 5px;
        padding: 10px;
        border-radius: 5px;
    }

        #contact-form button[type="submit"]:hover {
            
            -webkit-transition: background 0.3s ease-in-out;
            -moz-transition: background 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;
        }

        #contact-form button[type="submit"]:active {
            box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
        }

input:required, textarea:required {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

}

#contact-form .required {
    font-weight: bold;
    color: black;
}

/* Hide success/failure message
   (especially since the php is missing) */
#failure, #success {
    color: #6EA070;
    display: none;
}

/* Make form look nice on smaller screens */
@media only screen and (max-width: 580px) {
    #contact-form {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

#contact-form input,select,textarea {
    width:450px;
    border:solid;
}

#contact-form select {
    width: 450px;
    border: solid;
}

#contact-form textarea {
    width: 450px;
    height: 90px;
    border: solid;
}

.danger {
    background-color: #CA0B00;
}

.danger-animation {
    animation: danger-pulse 2s infinite;
}
.custom-modal {
    position: relative;
    width: 350px;
    min-height: 250px;
    background-color: white;
    border-radius: 30px;
    margin: 40px 10px;
}

    .custom-modal .content {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 40px;
    }

        .custom-modal .content .type {
            font-size: 18px;
            color: #ff0101;
        }

        .custom-modal .content .message-type {
            font-size: 24px;
            color: #000;
        }

    .custom-modal .border-bottom {
        position: absolute;
        width: 300px;
        height: 20px;
        border-radius: 0 0 30px 30px;
        bottom: -20px;
        margin: 0 25px;
    }

    .custom-modal .icon-top {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: -30px;
        margin: 0 125px;
        font-size: 30px;
        color: #fff;
        line-height: 100px;
        text-align: center;
    }

@keyframes danger-pulse {
    0% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }

    50% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .4);
    }

    100% {
        box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
    }
}

.page-wrapper {
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}