.br_home .carousel-inner {
    width: 730px;
    height:290px;
    top:30px;
}


.br_home {
    margin-top: 30px;
    border-color:blue;

}
.br_home .col-4{
    padding-left: 30px;
    padding-right:0px;


 
}
    
    
    .br_home .card {
        margin-top: 30px; 
    }
    .br_home .bcard {
        margin-top: 0px;
    }
    .br_home .rank {
        margin-top: 20px;
        margin-bottom:20px;
        font-family:Arial;
    }
.br_home .card-body, .card-header {
    margin-left: 10px;
    margin-right: 10px;
}
@font-face {
    font-family: 'tripfont';
    src: url(https://fonts.google.com/specimen/PT+Sans);
}
.br_home .rating-topic {
    margin-top: 10px;
    margin-left: 0px;
    font-family: 'tripfont';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #000000;
}
    .br_home .circles i {
        font-size: 15px;
        color: #0cb021;
        margin-top: 10px;
        letter-spacing:-4px;
        
    }

.br_home .circles  {
    font-size: 18px;
    
}
.br_home .ratecircles i {
    font-size: 15px;
    color: #0cb021;
    letter-spacing: 1px;
    float:right;
    margin-top:7px;
    
}

.br_home ul{
  line-height:30px;
  margin-left:0px;
}


.br_home .card-header {
    background-color: white;
    font-family: 'tripfont';

}
.br_home .carousel-control-next-icon, .carousel-control-prev-icon {
    margin-top: 50px;
}
.br_home .row {
    margin-bottom: 80px;
}
.br_home .rest_name {
    position: absolute;
    left: 0px;
    font-family: 'tripfont';
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    color: #000000;
}
.br_home .best_selection {
    position: absolute;
    left: 0px;
    margin-top: 100px;
    font-family: 'tripfont';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #000000;
}
    .br_home .rest_details {
        width: 950px;
        height: 34px;
        left: 0px;
        margin-top: 55px;
    }

    .br_home .map-container {
        overflow: hidden;
        padding-bottom: 0;
        position: relative;
        height: 0px;
    }

        .br_home .map-container iframe {
            left: 0;
            top: 10px;
            height: 200px;
            width: 100%;
            position: absolute;
        }

    .br_home .list_topic{
        font-size:15px;
        font-weight:600;
    }
    .br_home .list_det {
        margin-left: 23px;
        font-size: 13px;
        margin-top:-2px;
    }
.best_selection{
    font-weight:800;
}
.best_selection .cards-wrapper {
    display: flex;
    justify-content: center;
}

.best_selection .card img {
    max-width: 200px;
    min-height: 150px;
    max-height: 150px;
}

.best_selection .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    height: 220px;
    width:300px;
}

.best_selection .carousel slide{
    margin-top:0px;
}
.best_selection .card-body {
    height: 250px;
    width: 100%;
}
.best_selection  .card-title{
    font-size:20px;
    margin-top:10px;
    font-weight:600;
    margin-left:0px;
    text-align:center;
}
.best_selection .carousel-inner {
    padding: 1em;
    height: 300px;
}

.best_selection .carousel-control-prev,
.best_selection .carousel-control-next {
    background-color: #000000;
    width: 5vh;
    align-content:center;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.best_selection .carousel-control-next-icon, .best_selection .carousel-control-prev-icon {
    margin-top: 0px;
}

@media (min-width: 768px) {
    .best_selection .card img {
        height: 11em;
    }
}






