* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    margin-bottom: 50px;
    margin: 0;
    height:100%;
    background-color: #DEF2F1;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart {
    width: 750px;
    height:100%;
    margin-bottom:100px;
    margin-left:150px;
    margin-top:20px;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 20px;
    font-weight: 600;
    text-align:center;
}

.item {
    padding: 20px 30px;
    height: 230px;
    display: flex;
    margin-bottom:2px;
    
    
}

    .item:nth-child(3) {
        border-top: 1px solid #E1E8EE;
        border-bottom: 1px solid #E1E8EE;
    }

.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

.image {
    margin-right: 50px;

    
}




button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}




.cartbuttons{
    display:flex;
}
.shbutton {
    background-color: black;
    color: white;
    width: 10px;
    height: 30px;
    margin-left: 100px;
    margin-top:20px;
    flex: 1;
    padding-top:5px;
    text-align: center;
    margin-right: 150px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.prbutton {
    background-color: black;
    color: white;
    width: 80px;
    height: 50px;
    margin-left: 50px;
    flex: 1;
    padding-top: 15px;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 20px;
}
    .prbutton:hover, .shbutton:hover {
        color: #3AAFA9;
    }
    .total {
        display: flex;
        color: black;
        font-weight: 700;
    }
.totali{
    margin-left:100px;
    
}
.totnum {
    margin-right: 10px;
}
.totalam {
    margin-left:300px;
    margin-right: 10px;
   
}
.totamnum{
    margin-right:10px;
}


.input{
    margin-top:3px;

    margin-bottom:10px;
}
.input-title {
    font-weight: 600;
}
    .pay-title {
    font-weight: 700;
    font-size: 18px;
}
input {
    width: 550px;
}
ul{
    margin-left:30px;
    list-style:none;
}