@model Foodilizer_Group35.Models.Item

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_bronze_store_layout.cshtml";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestId" class="control-label"></label>
                <input asp-for="RestId" class="form-control" />
                <span asp-validation-for="RestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemId" class="control-label"></label>
                <input asp-for="ItemId" class="form-control" />
                <span asp-validation-for="ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemQuantity" class="control-label"></label>
                <input asp-for="ItemQuantity" class="form-control" />
                <span asp-validation-for="ItemQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityLimit" class="control-label"></label>
                <input asp-for="QuantityLimit" class="form-control" />
                <span asp-validation-for="QuantityLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alert" class="control-label"></label>
                <input asp-for="Alert" class="form-control" />
                <span asp-validation-for="Alert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}